<span class="infSearchResultCounts">
	{{#if results}}
		Showing {{sumVisible}} of {{sumTotal}} results{{#if sortedBy}}, ordered by {{sortedBy}}{{/if}}
	{{else}}
		{{sumTotal}} results
	{{/if}}
</span>