<button class="btn btn-default btn-operationsBar navbar-btn {{#if requiresSelection}}requiresSelection{{/if}}" title="{{title}}" switchesto="{{switchesTo}}">
	<span class="{{iconClass}}">{{text}}</span>
	{{#if annotationIconClass}}
		<div class="infSearchIconAnnotation"><span class="{{annotationIconClass}}"></span></div>
	{{/if}}
</button>